<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="js/circuit.js"></script>
</head>
<body>
<div>
    <h1>Hello Codemash!</h1>

    <button id="dateTime">Retrieve the date and time</button>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img id="spinner" src="spinner.gif" />
    <h1 id="placeholder"></h1>
</div>
</body>

</html>